.slidecontainer {
    width: 75%;
	margin-left: auto;
    margin-right: auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #BFBFBF;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
	/*style of indicator within the slider */
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #404040;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #404040;
    cursor: pointer;
}
